.container {
  display: flex;
  height: 100vh;
}

.left-side,
.right-side {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.template-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.template-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.template-thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.template-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.create-button {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.template-item:hover {
  transform: scale(0.95);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.template-item:hover .template-thumbnail img {
  transform: scale(1.1);
}

.template-item:hover .create-button {
  opacity: 1;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .template-grid {
    grid-template-columns: 1fr;
  }
}
.example-full-width {
  width: 100%;
}

@media (max-width: 768px) {
  .example-full-width {
    display: grid;
    grid-template-columns: 1fr; /* Tất cả các mục sẽ chồng lên nhau */
  }
  .example-full-width td,
  .example-full-width th {
    display: block;
  }
}
