<div class="card my-5" style="width: 50%; margin: 0 auto">
  <div class="card-body">
    <h4 class="mb-32" style="color: #03c9d7; font-weight: 600">
      Thông tin trang
    </h4>
    <form [formGroup]="formBusinessCard" (submit)="onSubmit()">
      <h6 class="mb-3 mt-5">Ảnh trang</h6>
      <div class="upload-section">
        <div class="file-square" (click)="uploadWidget()">
          <label for="cover-image">
            <button mat-button type="button">
              <i class="material-icons">add_photo_alternate</i>
            </button>
            <span class="fs-12 mt-2">Thêm hình ảnh</span>
          </label>
        </div>
        <div class="uploaded-images">
          @for (image of listUploadedImages; track $index) {
          <div class="uploaded-image">
            <img
              width="100px"
              height="100px"
              style="object-fit: cover"
              [src]="image"
              alt=""
            />
          </div>
          }
        </div>
      </div>

      <h6 class="mb-3 mt-2">Ảnh bìa</h6>
      @if (valueThumbnail) {
      <div class="file-square mb-5">
        <img
          width="100px"
          height="100px"
          style="object-fit: cover"
          [src]="valueThumbnail"
          alt=""
        />
      </div>
      }@else {
      <div class="file-square mb-5">
        <label for="product-image">
          <button mat-button type="button" disabled="">
            <i class="material-icons">add_photo_alternate</i>
          </button>
        </label>
      </div>
      }

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <h6 class="mb-3">Họ và tên</h6>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label style="font-size: 14px">Nhập họ và tên</mat-label>
              <input
                matInput
                type="text"
                required
                formControlName="name"
                [class.is-invalid]="
                  formBusinessCard.get('name')?.invalid &&
                  formBusinessCard.get('name')?.touched
                "
              />
              @if (formBusinessCard.get('name')?.hasError('required')) {
              <mat-error style="font-size: 12px"
                >Họ và tên không được để trống</mat-error
              >
              }@else if (formBusinessCard.get('name')?.hasError('minlength')) {
              <mat-error style="font-size: 12px"
                >Họ và tên quá ngắn. Ít nhất 5 ký tự</mat-error
              >
              }
            </mat-form-field>
          </td>
          <td>
            <h6 class="mb-3">Số điện thoại</h6>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label style="font-size: 14px">Nhập số điện thoại</mat-label>
              <input
                matInput
                type="text"
                required
                formControlName="phone"
                [class.is-invalid]="
                  formBusinessCard.get('phone')?.invalid &&
                  formBusinessCard.get('phone')?.touched
                "
              />
              @if (formBusinessCard.get('phone')?.hasError('required')) {
              <mat-error style="font-size: 12px"
                >Số điện thoại không được để trống</mat-error
              >
              }@if(formBusinessCard.get('phone')!.hasError('minlength') ||
              formBusinessCard.get('phone')!.hasError('maxlength')) {
              <mat-error class="fs-12">
                Số điện thoại phải chứa đúng 10 chữ số.
              </mat-error>
              }
            </mat-form-field>
          </td>
        </tr>
      </table>
      <h6 class="mb-3 mt-3">Chức vụ</h6>
      <mat-form-field appearance="outline">
        <mat-label style="font-size: 14px">Chọn chức vụ</mat-label>
        <mat-select required formControlName="position">
          @for (position of positions; track position) {
          <mat-option [value]="position.value">{{ position.value }}</mat-option>
          }
        </mat-select>
        @if (formBusinessCard.get('position')?.hasError('required')) {
        <mat-error style="font-size: 12px"
          >Chức vụ không được để trống</mat-error
        >
        }
      </mat-form-field>

      <div class="d-flex justify-content-end mt-5">
        <button
          mat-raised-button
          class="fs-20 p-24"
          color="primary"
          type="submit"
          extend
        >
          Lưu thay đổi
          <mat-icon>task_alt</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
<div id="gjs"></div>
