<mat-dialog-content>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Images">
      <div class="media-container">
        <div *ngFor="let image of listImages" class="media-item">
          <img [src]="image.src" alt="Image" />
          <button class="delete-button" (click)="btn_Image_Delete(image)">
            ×
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Videos">
      <div class="media-container">
        <div *ngFor="let video of listVideos" class="media-item">
          <video [src]="video.source" controls></video>
          <button class="delete-button" (click)="btn_Video_Delete(video)">
            ×
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
